.idea
wiki/
.app/
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.dregs
*.xyz

pids
logs
results
dregs

npm-debug.log
node_modules
jspm_packages
bower_components

dist
cover
.idea/
/.vscode/
test-cover/
.jshintrc